.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $theme-color;
    display: flex;
    justify-content: center;
    // align-items: center;
    .container {
        width: initial;
        @include mobile {
            padding: 32px $container-padding-x-mobile;
        }
    }
    svg {
        width: 48px;
        height: 48px;
    }
}