.circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: $duration;
    color: #fff;
    border: 1px solid $grey-2;
    svg {
        width: 20px;
        height: 20px;
        transition: $duration;
        pointer-events: none;
    }

    &:is(button.white-hover) {
        &:hover {
            background-color: #fff;
            border-color: #fff;
            color: $black;
        }
    }
    &:is(button.theme-hover) {
        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
            color: $black;
        }
    }
    &.sidebar-toggler-mobile {
        @include tablet {
            background-color: #fff;
            border-color: #fff;
            color: $black;
            position: fixed;
            top: 36px;
        }
    }
    &.history-col-toggler-mobile {
        @include tablet {
            left: 36px;
        }
        @include mobile {
            left: 16px;
        }
    }
    &.files-col-toggler-mobile {
        @include tablet {
            right: 36px;
        }
        @include mobile {
            right: 16px;
        }
    }
    &.new-chat-btn {
        @include tablet {
            // position: fixed;
            position: absolute;
            // top: 36px;
            // left: 88px;
            // right: 0;
            right: calc(-44px - 12px - #{$container-padding-x-tablet} - 88px); //width + padding + offset + btn initial pos
            // transition-delay: calc(88/348 * #{$duration});
            // transition-duration: calc(((348 + 24 + 24) - 88) / (348 + 24 + 24) * 1.5 * #{$duration});
            // transition-duration: calc((348 - 88) / 348 * 1.5 * #{$duration});
            // transition: .2s;
            // transition-delay: .15s;
            // transition: calc((380 - 44 - 12 - #{$container-padding-x-tablet} - 88) / 380 * 1.5 * #{$duration});
            transition: calc(260 / (380 + 24 + 24) * 1.5 * #{$duration}); // пальцем в небо
        }
        @include mobile {
            // left: 68px;
            right: calc(-44px - 12px - 8px - 68px);
        }

        // .history-col.active & {
        //     @include tablet {
        //         left: 348px;
        //     }
        //     @include mobile {
        //         left: 235px;
        //     }
        // }
    }
}

.file-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    transition: $duration;
    position: relative;
    border-radius: 12px;

    &:hover {
        background-color: $grey-1;
        // .file-item-icon {
        //     opacity: 0;
        // }
        // .file-item-edit {
        //     opacity: 1;
        //     pointer-events: auto;
        // }
        &:has(.file-item-edit) {
            .file-item-icon {
                opacity: 0;
            }
            .file-item-edit {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    &.controls-active {
        background-color: $grey-1;
        z-index: 2;
        .file-item-edit {
            opacity: 1;
            pointer-events: auto;
            background-color: $grey-3;
        }
        .file-item-icon {
            opacity: 0;
        }
        .file-item-controls {
            display: block;
        }
    }

    &-edit {
        opacity: 0;
        pointer-events: none;
        transition: $duration;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 4'%3E%3Cpath d='M9.125 2C9.125 2.62128 8.62128 3.125 8 3.125C7.37872 3.125 6.875 2.62128 6.875 2C6.875 1.37872 7.37872 0.875 8 0.875C8.62128 0.875 9.125 1.37872 9.125 2Z' fill='white'/%3E%3Cpath d='M15.125 2C15.125 2.62128 14.6213 3.125 14 3.125C13.3787 3.125 12.875 2.62128 12.875 2C12.875 1.37872 13.3787 0.875 14 0.875C14.6213 0.875 15.125 1.37872 15.125 2Z' fill='white'/%3E%3Cpath d='M3.125 2C3.125 2.62128 2.62128 3.125 2 3.125C1.37872 3.125 0.875 2.62128 0.875 2C0.875 1.37872 1.37872 0.875 2 0.875C2.62128 0.875 3.125 1.37872 3.125 2Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 16px 4px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 8px;
        left: 12px;
        z-index: 2;
        &:hover {
            background-color: $grey-3;
        }
    }
    &-icon {
        flex-shrink: 0;
        transition: $duration;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    &-title {
        font-size: 14px;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
        margin-right: auto;
        user-select: none;
    }
    &-checkbox {
        flex-shrink: 0;
        margin-left: 16px;
        &:hover {
            .checkbox-box {
                &::before {
                    opacity: 1;
                }
            }
        }
        input:checked + .checkbox-box {
            background-color: $theme-color;
            border-color: $theme-color;
            &::before {
                // content: none;
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
        .checkbox-box {
            width: 20px;
            height: 20px;
            border: 1px solid $grey-3;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $duration;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                inset: 2px;
                border-radius: 4px;
                background-color: $grey-3;
                opacity: 0;
                transition: $duration;
            }
            &::after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.35374 7.64663L3.35355 7.64645C3.25979 7.55268 3.13261 7.5 3 7.5C2.86739 7.5 2.74021 7.55268 2.64645 7.64645C2.55268 7.74021 2.5 7.86739 2.5 8C2.5 8.00801 2.50019 8.01602 2.50058 8.02402C2.50655 8.14818 2.55855 8.26566 2.64645 8.35355L2.64663 8.35374L6.14645 11.8536C6.34171 12.0488 6.65829 12.0488 6.85355 11.8536L13.8536 4.85355C13.9473 4.75979 14 4.63261 14 4.5C14 4.36739 13.9473 4.24021 13.8536 4.14645C13.7598 4.05268 13.6326 4 13.5 4C13.3674 4 13.2402 4.05268 13.1464 4.14645L6.5 10.7929L3.35374 7.64663Z' fill='%231F1F1F'/%3E%3C/svg%3E%0A");
                background-size: 100% 100%;
                opacity: 0;
                transition: $duration;
            }
        }
    }

    &-controls {
        position: absolute;
        top: 8px;
        right: calc(100% - 8px);
        background-color: $grey-3;
        border-radius: 8px;
        overflow: hidden;
        display: none;
        button {
            display: flex;
            align-items: center;
            padding: 12px;
            color: $grey-4;
            min-width: 140px;
            transition: $duration;
            font-size: 14px;
            line-height: 16px;

            &:hover {
                background-color: $grey-2;
                color: #fff;
            }
            svg {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                margin-right: 6px;
                pointer-events: none;
            }
            span {
                pointer-events: none;
            }
        }
    }
}

.upload-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-radius: 24px;
    border: 1px solid $grey-2;
    padding: 16px;
    transition: $duration;
    &:hover {
        border-color: $grey-1;
        background-color: $grey-1;
        .upload-item-info {
            color: $grey-4;
        }
        .upload-item-progress {
            opacity: 0;
        }
        .upload-item-cancel {
            opacity: 1;
        }
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &-icon {
        flex-shrink: 0;
        margin-right: 8px;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    &-info {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        line-height: 16px;
        color: $grey-3;
        margin-right: auto;
        transition: $duration;
        flex-shrink: 1;
        max-width: calc(100% - 24px - 8px - 16px - 40px);
    }
    &-title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        margin-bottom: 8px;
    }
    &-format {
        margin-right: 8px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            flex-shrink: 0;
            margin-left: 8px;
            border-radius: 50%;
            background-color: currentColor;
        }
    }
    &-size {
        text-transform: uppercase;
    }
    &-progress {
        margin-left: 16px;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        align-self: center;
        transition: $duration;
        // заглушка
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='18' stroke='%23595959' stroke-width='4'/%3E%3Cmask id='path-2-inside-1_93_1639' fill='white'%3E%3Cpath d='M20 0C23.3538 3.9994e-08 26.6538 0.843406 29.5963 2.45263C32.5389 4.06185 35.0295 6.38521 36.8391 9.20897C38.6486 12.0327 39.719 15.2662 39.9518 18.612C40.1845 21.9577 39.5722 25.3082 38.1711 28.3554C36.7699 31.4025 34.625 34.0484 31.9337 36.0495C29.2423 38.0507 26.0909 39.3429 22.7694 39.8073C19.4479 40.2717 16.0629 39.8934 12.9259 38.7071C9.78886 37.5209 7.00053 35.5648 4.81739 33.0188L7.81797 30.4458C9.56965 32.4887 11.8069 34.0582 14.324 35.01C16.841 35.9618 19.557 36.2654 22.2221 35.8928C24.8871 35.5201 27.4157 34.4833 29.5752 32.8776C31.7347 31.2719 33.4557 29.149 34.5799 26.7041C35.7041 24.2592 36.1954 21.5708 36.0087 18.8863C35.8219 16.2018 34.963 13.6073 33.5111 11.3416C32.0592 9.07594 30.0608 7.21175 27.6998 5.92056C25.3388 4.62937 22.691 3.95265 20 3.95265V0Z'/%3E%3C/mask%3E%3Cpath d='M20 0C23.3538 3.9994e-08 26.6538 0.843406 29.5963 2.45263C32.5389 4.06185 35.0295 6.38521 36.8391 9.20897C38.6486 12.0327 39.719 15.2662 39.9518 18.612C40.1845 21.9577 39.5722 25.3082 38.1711 28.3554C36.7699 31.4025 34.625 34.0484 31.9337 36.0495C29.2423 38.0507 26.0909 39.3429 22.7694 39.8073C19.4479 40.2717 16.0629 39.8934 12.9259 38.7071C9.78886 37.5209 7.00053 35.5648 4.81739 33.0188L7.81797 30.4458C9.56965 32.4887 11.8069 34.0582 14.324 35.01C16.841 35.9618 19.557 36.2654 22.2221 35.8928C24.8871 35.5201 27.4157 34.4833 29.5752 32.8776C31.7347 31.2719 33.4557 29.149 34.5799 26.7041C35.7041 24.2592 36.1954 21.5708 36.0087 18.8863C35.8219 16.2018 34.963 13.6073 33.5111 11.3416C32.0592 9.07594 30.0608 7.21175 27.6998 5.92056C25.3388 4.62937 22.691 3.95265 20 3.95265V0Z' stroke='%23D8FD87' stroke-width='8' mask='url(%23path-2-inside-1_93_1639)'/%3E%3Cpath d='M12.7082 24.12C12.1802 24.12 11.7002 23.996 11.2682 23.748C10.8442 23.492 10.5042 23.152 10.2482 22.728C10.0002 22.304 9.87622 21.832 9.87622 21.312C9.87622 20.608 10.1202 19.92 10.6082 19.248L13.2002 15.744H14.2322L11.6642 19.14L11.3522 19.26C11.4642 19.116 11.5922 18.996 11.7362 18.9C11.8882 18.796 12.0602 18.716 12.2522 18.66C12.4442 18.604 12.6642 18.576 12.9122 18.576C13.4002 18.576 13.8442 18.696 14.2442 18.936C14.6442 19.168 14.9642 19.488 15.2042 19.896C15.4442 20.304 15.5642 20.768 15.5642 21.288C15.5642 21.808 15.4362 22.284 15.1802 22.716C14.9242 23.14 14.5802 23.48 14.1482 23.736C13.7162 23.992 13.2362 24.12 12.7082 24.12ZM12.7202 23.304C13.0802 23.304 13.4082 23.216 13.7042 23.04C14.0082 22.856 14.2482 22.612 14.4242 22.308C14.6002 21.996 14.6882 21.656 14.6882 21.288C14.6882 20.912 14.6002 20.572 14.4242 20.268C14.2482 19.964 14.0082 19.724 13.7042 19.548C13.4082 19.364 13.0802 19.272 12.7202 19.272C12.3522 19.272 12.0162 19.364 11.7122 19.548C11.4162 19.724 11.1802 19.964 11.0042 20.268C10.8362 20.564 10.7522 20.904 10.7522 21.288C10.7522 21.664 10.8362 22.008 11.0042 22.32C11.1802 22.624 11.4162 22.864 11.7122 23.04C12.0162 23.216 12.3522 23.304 12.7202 23.304ZM19.4214 24.12C18.8854 24.12 18.4094 24.016 17.9934 23.808C17.5854 23.6 17.2654 23.316 17.0334 22.956C16.8014 22.588 16.6854 22.172 16.6854 21.708C16.6854 21.34 16.7574 21.004 16.9014 20.7C17.0534 20.388 17.2654 20.124 17.5374 19.908C17.8094 19.684 18.1254 19.532 18.4854 19.452L18.5814 19.704C18.2614 19.616 17.9894 19.476 17.7654 19.284C17.5414 19.092 17.3694 18.864 17.2494 18.6C17.1294 18.328 17.0694 18.044 17.0694 17.748C17.0694 17.324 17.1694 16.956 17.3694 16.644C17.5774 16.324 17.8574 16.072 18.2094 15.888C18.5694 15.704 18.9734 15.612 19.4214 15.612C19.8774 15.612 20.2814 15.704 20.6334 15.888C20.9934 16.072 21.2734 16.324 21.4734 16.644C21.6734 16.956 21.7734 17.324 21.7734 17.748C21.7734 18.044 21.7134 18.328 21.5934 18.6C21.4814 18.864 21.3134 19.092 21.0894 19.284C20.8654 19.476 20.5894 19.616 20.2614 19.704L20.3574 19.452C20.7254 19.532 21.0414 19.684 21.3054 19.908C21.5774 20.124 21.7854 20.388 21.9294 20.7C22.0814 21.004 22.1574 21.34 22.1574 21.708C22.1574 22.172 22.0414 22.588 21.8094 22.956C21.5854 23.316 21.2654 23.6 20.8494 23.808C20.4414 24.016 19.9654 24.12 19.4214 24.12ZM19.4214 23.328C19.7894 23.328 20.1134 23.256 20.3934 23.112C20.6814 22.968 20.9054 22.768 21.0654 22.512C21.2254 22.248 21.3054 21.952 21.3054 21.624C21.3054 21.288 21.2254 20.996 21.0654 20.748C20.9054 20.492 20.6814 20.292 20.3934 20.148C20.1134 19.996 19.7894 19.92 19.4214 19.92C19.0614 19.92 18.7374 19.996 18.4494 20.148C18.1694 20.292 17.9454 20.492 17.7774 20.748C17.6174 20.996 17.5374 21.288 17.5374 21.624C17.5374 21.952 17.6174 22.248 17.7774 22.512C17.9454 22.768 18.1694 22.968 18.4494 23.112C18.7294 23.256 19.0534 23.328 19.4214 23.328ZM19.4214 19.236C19.8694 19.236 20.2334 19.104 20.5134 18.84C20.8014 18.568 20.9454 18.22 20.9454 17.796C20.9454 17.372 20.8014 17.028 20.5134 16.764C20.2334 16.5 19.8694 16.368 19.4214 16.368C18.9814 16.368 18.6174 16.5 18.3294 16.764C18.0414 17.028 17.8974 17.372 17.8974 17.796C17.8974 18.22 18.0414 18.568 18.3294 18.84C18.6174 19.104 18.9814 19.236 19.4214 19.236ZM23.6185 24L28.9225 15.744H29.7865L24.4945 24H23.6185ZM28.2865 24.12C27.9825 24.12 27.7025 24.048 27.4465 23.904C27.1905 23.752 26.9865 23.548 26.8345 23.292C26.6825 23.036 26.6065 22.752 26.6065 22.44C26.6065 22.128 26.6825 21.848 26.8345 21.6C26.9865 21.352 27.1865 21.156 27.4345 21.012C27.6905 20.86 27.9745 20.784 28.2865 20.784C28.5985 20.784 28.8785 20.86 29.1265 21.012C29.3825 21.156 29.5865 21.352 29.7385 21.6C29.8905 21.848 29.9665 22.128 29.9665 22.44C29.9665 22.752 29.8905 23.036 29.7385 23.292C29.5945 23.548 29.3945 23.752 29.1385 23.904C28.8825 24.048 28.5985 24.12 28.2865 24.12ZM28.2745 23.436C28.5625 23.436 28.7985 23.344 28.9825 23.16C29.1665 22.976 29.2585 22.736 29.2585 22.44C29.2585 22.152 29.1625 21.92 28.9705 21.744C28.7785 21.56 28.5465 21.468 28.2745 21.468C28.0105 21.468 27.7865 21.56 27.6025 21.744C27.4185 21.92 27.3265 22.152 27.3265 22.44C27.3265 22.736 27.4185 22.976 27.6025 23.16C27.7865 23.344 28.0105 23.436 28.2745 23.436ZM25.1185 18.96C24.8145 18.96 24.5345 18.888 24.2785 18.744C24.0225 18.592 23.8185 18.392 23.6665 18.144C23.5145 17.888 23.4385 17.604 23.4385 17.292C23.4385 16.98 23.5145 16.7 23.6665 16.452C23.8185 16.196 24.0185 15.996 24.2665 15.852C24.5225 15.7 24.8065 15.624 25.1185 15.624C25.4305 15.624 25.7105 15.7 25.9585 15.852C26.2145 15.996 26.4185 16.196 26.5705 16.452C26.7225 16.7 26.7985 16.98 26.7985 17.292C26.7985 17.604 26.7225 17.888 26.5705 18.144C26.4265 18.392 26.2265 18.592 25.9705 18.744C25.7145 18.888 25.4305 18.96 25.1185 18.96ZM25.1065 18.276C25.3945 18.276 25.6265 18.184 25.8025 18C25.9865 17.816 26.0785 17.576 26.0785 17.28C26.0785 16.992 25.9825 16.76 25.7905 16.584C25.6065 16.4 25.3785 16.308 25.1065 16.308C24.8425 16.308 24.6185 16.4 24.4345 16.584C24.2505 16.76 24.1585 16.992 24.1585 17.28C24.1585 17.576 24.2505 17.816 24.4345 18C24.6185 18.184 24.8425 18.276 25.1065 18.276Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 100% 100%;
    }

    &-cancel {
        position: absolute;
        opacity: 0;
        transition: $duration;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 16px;
        right: 16px;
        svg {
            width: 24px;
            height: 24px;
            color: $red-error;
        }
    }
}

.file-input {
    margin-top: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px;
    text-align: center;
    transition: $duration;
    border-radius: 24px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 356 192' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='355' height='191' rx='23.5' stroke='%233E3E3E' stroke-dasharray='6 12'/%3E%3C/svg%3E%0A");
    background-size: 100% 100%;

    &:hover {
        &::before {
            opacity: 1;
        }
        .file-input-btn {
            color: $black;
            background-color: #fff;
            border-color: #fff;
        }
    }

    * {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        // inset: 8px;
        inset: 7px;
        opacity: 0;
        border-radius: 16px;
        background-color: $grey-1;
        transition: $duration;
    }
    &-icon {
        svg {
            width: 32px;
            height: 32px;
        }
    }
    &-title {
        margin-top: 24px;
        line-height: 1;
    }
    &-subtitle {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
        color: $grey-3;
    }
    &-btn {
        margin-top: 16px;
        padding: 8px 16px;
        border-radius: 12px;
        border: 1px solid $grey-2;
        font-size: 14px;
        line-height: 16px;
        transition: $duration;
    }
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 12px;
    padding: 8px 12px;
    transition: $duration;
    position: relative;
    border-radius: 12px;

    &:hover {
        background-color: $grey-1;
        button {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    &.controls-active {
        background-color: $grey-1;
        z-index: 2;

        .chat-item-edit {
            opacity: 1;
            pointer-events: auto;
            background-color: $grey-3;
        }

        .chat-item-controls {
            display: block;
        }
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-edit {
        opacity: 0;
        pointer-events: none;
        transition: $duration;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 16px;
        border-radius: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 4'%3E%3Cpath d='M9.125 2C9.125 2.62128 8.62128 3.125 8 3.125C7.37872 3.125 6.875 2.62128 6.875 2C6.875 1.37872 7.37872 0.875 8 0.875C8.62128 0.875 9.125 1.37872 9.125 2Z' fill='white'/%3E%3Cpath d='M15.125 2C15.125 2.62128 14.6213 3.125 14 3.125C13.3787 3.125 12.875 2.62128 12.875 2C12.875 1.37872 13.3787 0.875 14 0.875C14.6213 0.875 15.125 1.37872 15.125 2Z' fill='white'/%3E%3Cpath d='M3.125 2C3.125 2.62128 2.62128 3.125 2 3.125C1.37872 3.125 0.875 2.62128 0.875 2C0.875 1.37872 1.37872 0.875 2 0.875C2.62128 0.875 3.125 1.37872 3.125 2Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 16px 4px;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            background-color: $grey-3;
        }
    }
    &-controls {
        position: absolute;
        top: 8px;
        left: calc(100% - 8px);
        background-color: $grey-3;
        border-radius: 8px;
        overflow: hidden;
        display: none;
        button {
            display: flex;
            align-items: center;
            padding: 12px;
            color: $grey-4;
            min-width: 140px;
            transition: $duration;
            font-size: 14px;
            line-height: 16px;

            &:hover {
                background-color: $grey-2;
                color: #fff;
            }
            svg {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                margin-right: 6px;
                pointer-events: none;
            }
            span {
                pointer-events: none;
            }
        }
    }
}

